.game-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 90%;
    max-width: 1200px;
    min-width: 340px;
    border-radius: 20px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.10);
    padding: 40px 0;
    margin-bottom: 32px;
  }